# Google authentication related credential files
settings.yaml
client_secrets.json
service-secrets.json
credentials.json

# BRACU discord server information files 
info.json

# Test Jupyter notebook files - not available in deployed version
discord_test.ipynb
.ipynb_checkpoints

# pygsheets json
sheets.googleapis.com-python.json

# Pycharm cache
__pycache__
.idea

# All excel and data files/folders
*.xls
data

# Discord test folder
cogs


# Environment related files/folders
.env
minimal_env
venv